.goalsComponent {
  width: 100%;
  height: 90vh;
  display: flex;
  padding: 30px;
  justify-content: center;
}

.grid-container {
  display: grid;
  margin: auto;
  grid-template-areas:
    "header header"
    "employeeContainer selectYear"
    "employeeContainer submitButton";
  grid-template-columns: auto auto;
  gap: 0px;
  width: 50%;
  border-collapse: collapse;
  box-shadow: 0px 10px 10px #ccc;
  border-radius: 10px;
}

.grid-container .header {
  grid-area: 1 / 1 / 2 / 3;
  font-size: 8px;
  font-weight: bold;
  justify-content: center;
  padding-inline-start: 20px;
  padding-top: 10px;
  background-color: #108afdb4;
  color: #fffbfb;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.grid-container > .selectYear {
  font-size: 18px;
  text-align: center;
  padding: 30px;
  border-bottom-right-radius: 10px;
}

.submitButton {
  font-size: 16px;
  padding: 10px;
  margin: 20px;
  background-color: lightblue;
  border-radius: 10px;
  color: black;
  cursor: pointer;
  border: none;
}
.submitButton:hover {
  background-color: #4ca5f8;
}

.grid-container > .employeeContainer {
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-left: 100px;
  padding-right: 50px;
  padding-top: 25px;
  padding-bottom: 20px;
  border-bottom-left-radius: 10px;
}
