.goalsComponent {
  width: 100%;
  height: 90vh;
  display: flex;
  padding: 30px;
  justify-content: center;
}

.grid-container {
  display: grid;
  margin: auto;
  grid-template-areas:
    "header header"
    "employeeContainer selectYear"
    "employeeContainer submitButton";
  grid-template-columns: auto auto;
  gap: 0px;
  width: 75%;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.grid-container .header {
  grid-area: 1 / 1 / 2 / 3;
  font-size: 25px;
  font-weight: bold;
  justify-content: center;
  padding-inline-start: 50px;
  padding-top: 10px;
  background-color: #108afdb4;
  color: ghostwhite;
  border-left: solid rgb(211, 216, 218);
  border-right: solid rgb(211, 216, 218);
  border-top: solid rgb(211, 216, 218);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.grid-container > .selectYear {
  font-size: 18px;
  text-align: center;
  padding: 30px;
  border-right: solid rgb(211, 216, 218);
  border-bottom: solid rgb(211, 216, 218);
  border-bottom-right-radius: 25px;
}

.submitButton {
  font-size: 16px;
  padding: 10px;
  margin: 20px;
  background-color: #4ca5f8b4;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  border: solid rgb(189, 191, 192);
}

.grid-container > .employeeContainer {
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  padding-left: 100px;
  padding-right: 50px;
  padding-top: 25px;
  padding-bottom: 20px;
  border-left: solid rgb(211, 216, 218);
  border-right: solid rgb(211, 216, 218);
  border-bottom: solid rgb(211, 216, 218);
  border-bottom-left-radius: 25px;
}

