.goalsComponent {
  width: 100%;
  height: 90vh;
  display: flex;
  padding: 30px;
}

.employeeYearContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 75px;
  }
  .employeeYearContainer .header {
    font-size: 30px;
    font-weight: bold;
    justify-content: center;
    margin-bottom: 20px;
    border: solid darkblue; 
    border-radius: 10px;
    padding-inline-start: 50px;
    background-color: rgb(150, 199, 248)
  }
  .employeeYearContainer .profile {
    height: 100%;
    justify-content: left;
    align-items: left;
    padding-left: 50px;

  }
  
.rightSide {
  display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;

}
.rightSide .selectYear {
    font-size: 20px;
    display: inline-block;
    position: center;
    width: 50%;
}
.rightSide .submitButton {
    font-size: 20px;
    position: center;
}

/* .grid-container {
  display: grid;
  grid-template-areas:
    "header header header header"
    "left left left right"
    "left left left right";

  grid-template-columns: auto 80px;
  gap: 0px;
  background-color: #2196f3;
  padding: 10px;
}

.grid-container > div {
  background-color: #ffffffcc;
  font-size: 10px;
  padding: 20px 0;
  font-size: 30px;
}
.header {
  grid-area: header;
  background-color: blue;
  padding: 30px;
  text-align: center;
}
.left {
  grid-area: left;
  text-align: left;
  text-indent: 50px;
}

.right {
  grid-area: right;
  text-align: center;
}

.selectYear {
  font-size: 20px;
  display: inline-block;
  position: center;
  width: 50%;
}

.submitButton {
  font-size: 20px;
  position: center;
} */
